*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.index{
    position: relative;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detail{
    margin-left: 8%;
    margin-top: 7%;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 30px;
}

.detail p{
    color: #555;
    line-height: 22px;
}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

span{
    color: orange;
}

.images{
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images .ShapeBackground{
    margin-left: 30px;
}

.images:hover .MyPicture{
    left: 45%;
}

.about-container{
    display: flex;
}

.about-photo{
    width: 600px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.about-content{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.button-header {
  color: black;
  text-decoration: none;
  font-size: 40px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-left: 210px;
  margin-bottom: 10px;
}

.button-header::before {
  margin-left: auto;
}

.button-header::after, .button-header::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.button-header:hover::after, .button-header:hover::before {
  width: 100%;
}

.portfolio-container h1{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.portfolio-container h3{
    margin-top: 15px;
}

.portfolio-container a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.lightorange-container{
    display: flex;
    margin-top: 30px;
    background:orange;
    border-radius: 20px;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.lightorange-description{
    margin-left: 20px;
    margin-top: 15px;
}

.lightorange-photo{
    width: 700px;
    margin-right: 20px;
    margin-left: 20px;
}

.orange-container{
    display: flex;
    margin-top: 30px;
    background:darkorange;
    border-radius: 20px;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.orange-description{
    margin-right: 20px;
    margin-top: 15px;
}

.orange-photo{
    width: 700px;
    margin-left: 20px;
    margin-right: 20px;
}

.mobileapplication-photo{
    width: 340px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.portfolio-outro{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    padding: 20px;
    font-weight: bolder;
    text-align: center;
}

.services h1{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.services h3{
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
}

.services p{
    font-size: 18px;
}

.services-container{
    display: flex;
    margin-top: 15px;    
}

.lightorange-block{
    min-width: 435px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    background:orange;
    border-radius: 20px;
    padding: 20px;
    min-height: 300px;
    transition: all 0.5s ease;
}

.orange-block{
    min-width: 435px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    background:darkorange;
    border-radius: 20px;
    padding: 20px;
    min-height: 300px;
    transition: all 0.5s ease;
}

.middlebottom-block{
    max-width: 435px;
    margin-left: 200px;
    margin-bottom: 35px;
    background:darkorange;
    border-radius: 20px;
    padding: 20px;
    min-height: 300px;
    transition: all 0.5s ease;
}

.interactive-cube-container{
    margin-top: 20px;
}

.hovercube-btn {
    width: 150px;
    height: 60px;
    border: 3px solid orange;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    margin-top: 380px;
    margin-left: -80px;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  button:hover {
    background: orange;
    color: white;
    font-size: 1.5em;
  }

/* Interactive Cube CSS code *******************************************************************************************/
@keyframes animate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  .container {
    position: relative;
    margin-left: 250px;
    margin-top: 60px;
    transform: skewY(-20deg);
    animation: animate 5s linear infinite;
    .cube {
      position: relative;
      z-index: 2;
      &:nth-child(2) {
        z-index: 1;
        translate: -60px -60px;
      }
      &:nth-child(3) {
        z-index: 3;
        translate: 60px 60px;
      }
      div {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 30px;
        translate: calc(-70px * var(--x)) calc(-60px * var(--y));
        span {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: #dcdcdc;
          z-index: calc(1 * var(--i));
          transition: 1.5s;
          &:hover {
            transition: 0s;
            background: #ef4149;
            filter: drop-shadow(0 0 30px #ef4149);
            &:before,
            &:after {
              transition: 0s;
              background: #ef4149;
            }
          }
          &:before {
                    content: "";
                    position: absolute;
                    left: -40px;
                    width: 40px;
                    height: 100%;
                    background: #fff;
                    transform-origin: right;
                    transform: skewY(45deg);
                    transition: 1.5s;
                }
          &:after {
                    content: "";
                    position: absolute;
                    top: -40px;
                    left: 0px;
                    width: 100%;
                    height: 40px;
                    background: #f2f2f2;
                    transform-origin: bottom;
                    transform: skewX(45deg);
                    transition: 1.5s;
                }
            }
        }
    }
}
/* Interactive Cube CSS code *******************************************************************************************/

/* Spinning Rubix Cube CSS Code ****************************************************************************************/
/* From Uiverse.io by lukepadiachy */ 
.my-loader {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 100px auto;
  }
  
  .rubiks-cube {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 20px;
    transform-style: preserve-3d;
    animation: my-rotateCube 5s infinite linear;
  }
  
  .my-loader .face {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  .my-loader .face.front {
    transform: translateZ(100px);
  }
  .my-loader .face.back {
    transform: rotateY(180deg) translateZ(100px);
  }
  .my-loader .face.left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .my-loader .face.right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .my-loader .face.top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .my-loader .face.bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .my-loader .cube {
    width: calc(100% / 3);
    height: calc(100% / 3);
    box-sizing: border-box;
    border: 1px solid #000;
  }
  
  @keyframes my-rotateCube {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
}
 /* Spinning Rubix Cube CSS Code ****************************************************************************************/ 

.lightorange-block:hover{
    transform: scale(1.05);
}

.orange-block:hover{
    transform: scale(1.05);
}

.middlebottom-block:hover{
    transform: scale(1.05);
}

.hireme-container{
    margin-left: 130px;
    margin-right: 130px;
    background:mediumaquamarine;
    border-radius: 20px;
    padding: 20px;
}

.hireme-container h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.hireme-container p{
    margin-top: 20px;
    font-size: 16px;
    color: black;
}

.documents-container {
    display: flex;
    justify-content: space-evenly;
}

.documents-container a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.motivation-container{
    margin-left: 130px;
    margin-right: 130px;
    background:orange;
    border-radius: 20px;
    padding: 20px;
}

.motivation-container h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.motivation-container p{
    margin-top: 20px;
    font-size: 16px;
    color: black;
}

.testimonial-container {
    display: flex;
    justify-content: space-evenly;
}

.testimonial-container a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
}